<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999014054308-1fpmgdpkk3866u53qhj2tjkrutil5qvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999014054308-1fpmgdpkk3866u53qhj2tjkrutil5qvk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>999014054308-ilegqkbg44r6kijh1upgjo698ioob9md.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_s-sES1B5GGezdvF1VtjCsrJfOC8Tbks</string>
	<key>GCM_SENDER_ID</key>
	<string>999014054308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weChat</string>
	<key>PROJECT_ID</key>
	<string>wechat-dde16</string>
	<key>STORAGE_BUCKET</key>
	<string>wechat-dde16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999014054308:ios:400ba66eca3cfedde0e931</string>
</dict>
</plist>